@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root{
    --green:#bac34e;
    --black:#222;
    --white:#fff;
    --light-color:#666;
    --light-bg:#f3f3f3;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
@mixin grid($val){
    display: grid;
grid-template-columns:repeat(auto-fit,minmax($val,1fr));
gap: 1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.header{
position: fixed;
top: 0; left: 0; right: 0;
z-index: 1000;
background: var(--white);
box-shadow: var(--box-shadow);
display: flex;
align-items: center;
justify-content: space-between;
padding:  2rem 9%;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
color: var(--black);
}
i{
    color: var(--green);
    padding-right:  .5rem;
}
    
/* .navbar{} */
    a{
        font-size:  1.7rem;
        color: var(--light-color);
        margin: 0 1rem;}

        a:hover{
            color: var(--green);
        }
    
.icons div{
    font-size: 2.5rem;
    margin-left:  1.7rem;
    cursor: pointer;
    color: var(--light-color);
}
.icons div:hover{
color: var(--green);
}

.search-form{
    position: absolute;
    top: -115%; right: 2rem;
    width:50rem ;
border-radius: .5rem;
display: flex;
align-items: center;
height: 5.5rem;
box-shadow: var(--box-shadow);
background: var(--white);

&.active{
    top: 115%;
}
}
input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;

}

label{
    font-size: 2.5rem;
    margin-right:  1.7rem;
    cursor: pointer;
    color: var(--light-color);
}
label:hover{
    color: var(--green);
}

.shopping-cart{
    position: absolute;
    top: 115%; right: 2rem;
    background: var(--white);
    border-radius:  .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding:  2rem;

 .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    position: inherit;
}
.fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
    &:hover{
        color: var(--green);
    }

}
}
#menu-btn{
    display: none;
}




.blogs .box-container{

@include grid(30 rem);
.box{
    border:$border;
    &:hover .image img{
        transform: scale(1.2);
    }
    .image{
        height:25 rem;
        width:100%;
        overflow: hidden;
    }
    img{
         height:100%;
         widtth:100%;
         object-fit: cover;
    }

}
.content{
    padding : 2 rem 1.5 rem;
    
    .icons{
        border-bottom:$ border;
        padding-bottom: 1.7 rem;
        margin-bottom: 1.7 rem;
        display: flex;
        align-item:center;
        justify-content: space-between;


        a{
            font-size:1.4 rem;
            color:$light-color;
            &:hover{
                color:$green;
            }
            i{
                color:$green;
                padding-right:.5 rem;

            }

        }



    }
    h3{
        font-size:2.2 rem ;
        color:&black;
    }
    p{
        font-size:1.4 rem ;
        color:$light-color;
        line-height:2;
        padding: 1 rem 0;
    }

}
} 